<template>
<div>
  <toolbar></toolbar>
  <div class="columns">
    <div class="column is-one-third">
      <search></search>
      <div class="scrollable">
        <list></list>
      </div>
    </div>
    <div class="column">
      <edit-view></edit-view>
    </div>
  </div>
</div>
</template>
<script>
import Toolbar from './Toolbar'
import QuestList from './Editor/QuestList'
import SearchBox from './Editor/SearchBox'
import EditView from './Editor/EditView'
import {rpgStore} from './../store/rpg_store'
export default {
  name: 'editor',
  components: {
    'toolbar': Toolbar,
    'list': QuestList,
    'search': SearchBox,
    'edit-view': EditView
  },
  methods: {},
  created () {
    rpgStore.loadData().then((data) => {
      console.log(data)
      document.title = `${data.System.gameTitle} Quests`
    })
  }
}
</script>
<style>
body {
  height: 100vh;
  overflow:hidden;
}
.scrollable {
  height:100vh;
  max-height: 90vh;
  overflow:auto;
  padding: 0px 0px 50px 0px;
}
</style>
