<template>
  <div>
    <toolbar></toolbar>
    <section class="hero is-large is-dark is-bold is-unselectable" style="cursor:default">
      <div class="hero-body">
        <div class="container">
          <h1 class="title">
            Getting Started!
          </h1>
          <h2 class="subtitle">
            Open an RPG Maker MV project.
          </h2>
          <p class="button is-primary is-large" @click="newProject()"> New Project </p>
          <p class="button is-primary is-large"> Load Last Project </p>
        </div>
      </div>
    </section>
  </div>
</template>

<script>
import Toolbar from '@/components/Toolbar'
import Router from './../router/'
import {store} from './../store/store'
import {rpgStore} from './../store/rpg_store'
const remote = require('electron').remote
const dialog = remote.dialog
export default {
  name: 'getting-started',

  components: { Toolbar },

  methods: {
    newProject () {
      dialog.showOpenDialog(remote.getCurrentWindow(), {
        title: 'Open RPG Maker MV Project Folder',
        properties: ['openDirectory']
      }, (paths) => {
        store.projectDirectory = paths[0]
        rpgStore.directory = paths[0]
        Router.push('/editor')
      })
    }
  }
}
</script>
<style>
body {
  height: 100vh;
  overflow:hidden;
}
</style>
