<template>
 <navbar>
    <item name="File" icon="home" slot="start">
      <div slot="links">
        <hover-item
        name="Back" tip="Back To Getting Started"
        :action="this.backToStart">
        </hover-item>
        <hover-item
        name="Load" tip="Load a new project">
        </hover-item>

        <hover-item
        name="Save" tip="Save all changes made">
        </hover-item>

        <hover-item
        name="Exit" tip="Close the application">
        </hover-item>
      </div>
    </item>
    <item name="Quests" icon="home" slot="start">
      <div slot="links">
        <hover-item
        name="New" tip="Create a new quest"
        :action="this.newQuest">
        </hover-item>
      </div>
    </item>
    <item name="Tools" icon="home" slot="start">
      <div slot="links">
        <hover-item
        name="Import" tip="Import quests from a file"
        :action="this.newQuest">
        </hover-item>
        <hover-item
        name="Export" tip="Export quests to a file"
        :action="this.newQuest">
        </hover-item>
      </div>
    </item>
  <div slot="end">
  </div>
</navbar>
</template>
<script>
import NavBar from './Navbar/Navbar'
import Item from './Navbar/NavbarItem'
import HoverItem from './Navbar/Navbar_Hoverable'
import Router from './../router/'
import {store} from './../store/store'
export default {
  components: {
    'navbar': NavBar,
    'item': Item,
    'hover-item': HoverItem
  },
  methods: {
    newQuest () {
      return store.newQuest()
    },
    backToStart () {
      Router.push('/')
    }
  }
}
</script>
