<template>
  <div class="navbar-item has-dropdown is-hoverable">
    <div class="navbar-link">
      {{this.name}}
    </div>
    <div class="navbar-dropdown">
      <slot name="links"></slot>
    </div>
  </div>
</template>

<script>
export default {
  name: 'navbar-item',
  props: {
    name: {
      name: 'name',
      type: String
    },
    icon: {
      name: 'name',
      type: String
    }
  },
  computed: {
    iconClass () {
      return `fa fa-${this.icon}`
    }
  }
}
</script>
