<template>
  <a class="navbar-item">
    <div class="level is-mobile" @click="this.action">
      <div class="level-left">
        <div class="level-item">
          <p>
            <strong>{{this.name}}</strong>
            <br>
            <small>{{this.tip}}</small>
          </p>
        </div>
      </div>
      <div class="level-right">
        <div class="level-item">
          <span class="icon has-text-info">
            <i :class="iconClass"></i>
          </span>
        </div>
      </div>
    </div>
  </a>
</template>
<script>
export default {
  name: 'navbar-hoverable',
  props: {
    name: {
      name: 'name',
      type: String
    },
    tip: {
      name: 'tip',
      type: String
    },
    icon: {
      name: 'icon',
      type: String
    },
    action: {
      name: 'action',
      type: Function,
      default: () => {}
    }
  },
  computed: {
    iconClass () {
      return `fa fa-${this.icon}`
    }
  }
}
</script>
