<template>
  <nav class="navbar has-shadow is-small">
    <div id="toolbar" class="navbar-menu">
      <div class="navbar-start">
        <slot name="start"></slot>
      </div>
    </div>
    <div class="navbar-end">
      <slot name="end"></slot>
    </div>
  </nav>
</template>
<script>
export default {
  name: 'navbar'
}
</script>
