<template>
<div>
 <div class="tabs is-boxed">
  <ul>
    <li class="is-active">
      <a>
        <span class="icon is-small"><i class="fa fa-wrench"></i></span>
        <span>General</span>
      </a>
    </li>
    <li>
      <a>
        <span class="icon is-small"><i class="fa fa-star"></i></span>
        <span>Objectives</span>
      </a>
    </li>
    <li>
      <a>
        <span class="icon is-small"><i class="fa fa-certificate"></i></span>
        <span>Rewards</span>
      </a>
    </li>
    <li>
      <a>
        <span class="icon is-small"><i class="fa fa-money"></i></span>
        <span>Costs</span>
      </a>
    </li>
    <li>
      <a>
        <span class="icon is-small"><i class="fa fa-asterisk"></i></span>
        <span>Requirements</span>
      </a>
    </li>
  </ul>
</div>
</div>
</template>
<script>
export default {

}
</script>
