<template>
  <div>
    <section class="hero is-primary">
      <div class="hero-body">
        <div class="container">
          <h1 class="title">Edit Quest
            <i class="fa fa-pencil" aria-hidden="true"></i>
          </h1>
          <h2 class="subtitle">
            General quest settings
          </h2>
        </div>
      </div>
    </section>
    <section class="section">
      <div class="columns">
        <!--------------------------->
        <!--       Quest Name      -->
        <!------------------------- -->
        <div class="column">
          <label class="label">Quest Name</label>
          <p class="control">
            <input class="input" type="text" placeholder="Quest Name">
          </p>
        </div>
        <!--------------------------->
        <!--       Quest Icon       -->
        <!------------------------- -->
        <div class="column is-1">
          <figure class="media-left">
            <label class="label">Icon</label>
            <a class="image is-32x32">
              <img>
            </a>
          </figure>
        </div>
      </div>
      <div class="columns">
        <!--------------------------->
        <!--    Quest Giver  -->
        <!------------------------- -->
        <div class="column">
          <label class="label">Quest Giver</label>
          <p class="control">
            <input class="input" type="text" placeholder="Quest Giver's' Name">
          </p>
        </div>
        <!--------------------------->
        <!--    Quest Location  -->
        <!------------------------- -->
        <div class="column">
          <label class="label">Quest Location</label>
          <p class="control">
            <input class="input" type="text" placeholder="Quest's Location'">
          </p>'
        </div>

        <!--------------------------->
        <!--       Quest Category      -->
        <!------------------------- -->
        <div class="column is-3">
          <label class="label">Quest Category</label>
          <p class="control">
            <span class="select">
              <select>
                <option>Category</option>
              </select>
            </span>
          </p>
          <span class="button is-success is-small">
            <i class="fa fa-plus"></i> &nbsp; New Category
          </span>
        </div>
      </div>
      <!--------------------------->
      <!--    Quest Description  -->
      <!------------------------- -->
      <label class="label">Quest Description</label>
      <p class="control">
        <textarea class="textarea" placeholder="Quest Description"></textarea>
      </p>

      <div class="columns">
        <!--------------------------->
        <!--    Callback Start  -->
        <!------------------------- -->
        <div class="column">
          <label class="label">On Start Callback</label>
          <p class="control">
            <span class="select">
              <select>
                <option value="">-- Choose Event --</option>
              </select>
            </span>
          </p>
        </div>
        <!--------------------------->
        <!--    Callback Complete  -->
        <!------------------------- -->
        <div class="column">
          <label class="label">On Complete Callback</label>
          <p class="control">
            <span class="select">
              <select>
                <option value="">-- Choose Event --</option>
              </select>
            </span>
          </p>
        </div>
        <!--------------------------->
        <!--    Callback Failed  -->
        <!------------------------- -->
        <div class="column">
          <label class="label">On Fail Callback</label>
          <p class="control">
            <span class="select">
              <select>
                <option value="">-- Choose Event --</option>
              </select>
            </span>
          </p>
        </div>
      </div>
    </section>
  </div>
</template>
<<script>
export default {

}
</script>

