<template>
  <div>
    <a class="box is-primary is-spaced">
      <div class="media-right is-pulled-right">
        <button class="delete" @click="this.closeAction"></button>
      </div>
      <article class="media">
        <figure class="media-left">
          <p class="image is-32x32">
            <!-- <img :src="this.quest.icon"> -->
          </p>
        </figure>
        <div class="media-content ">
          <div class="content">
            <p>
              <strong>{{this.quest.id}}: {{this.quest.name}}</strong>
              <br>
              {{this.quest.description}}
            </p>
          </div>
        </div>
      </article>
    </a>
  </div>
</template>
<script>
export default {
  name: 'quest-list-item',
  props: {
    quest: {
      name: 'quest',
      type: Object
    },
    closeAction: {
      name: 'closeAction',
      type: Function,
      default: () => {}
    }
  }
}
</script>
<style>
.is-spaced {
  margin: 5px 30px 5px 10px;
}
</style>
