<template>
<div>
  <div v-for="quest in questList" :key="quest.id">
  <quest-list-item
  :quest="quest"
  :closeAction="removeQuest">
  </quest-list-item>
  </div>
</div>
</template>

<script>
import { store } from './../../store/store'
import QuestListItem from './QuestListItem'

export default {
  name: 'quest-list',

  components: {
    'quest-list-item': QuestListItem
  },

  data () {
    return {
      quest: null,
      questList: store.questList
    }
  },

  computed: {
    processList () {
      store.newQuest()
      if (this.questList.length === 0) {
        store.newQuest()
        return this.questList
      } else {
        return this.questList
      }
    }
  },

  methods: {
    removeQuest (id) {
      store.removeQuest(id)
    }
  }
}
</script>
