<template>
  <div class="columns">
    <div class="column">
      <p class="control has-addons is-fullwidth">
        <input class="input" type="text" placeholder="Find a quest">
      </p>
    </div>
    <div class="column is-one-quarter">
     <span><a class="button is-info is-small is-pulled-right">Search</a></span>
    </div>
  </div>
</template>
<script>
export default {
  name: 'search-box'
}
</script>
