<template>
  <div id="app">
    <router-view></router-view>
  </div>
</template>

<script>
export default {
  name: 'quest-editor'
}
</script>

<style>
/* CSS */
body {
  overflow: hidden;
}
::-webkit-scrollbar {
  display:-webkit-box;
  overflow: hidden;
}
</style>
